.container{
    padding-top:200px ;
    
}
.subContent1{
    display: flex;
    align-items: center;
    column-gap: 120px;
}
.subContent1 h2{
    font-family: "Inter", sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 87px;
}
.subContent1 h3{
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 52px;
}
.subContent1 p{
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    opacity: 30%;
}
.verticalLine{
    width: 1px;
    height: 206px;
   background: rgba(106, 106, 106, 1);
}
.header h1{
    font-size: 54px;
    line-height: 77px;
    font-weight: 600;
    margin-left:280px;
    padding-top:50px;
}
.subContent2{
    display: flex;
}
.content1{
    font-family: "Inter",sans-serif;
    width: 360px;
    height: 377px;
}
.content1 i{
    background: white;
    border: 1.4px solid;
    width: 101px;
    height: 101px;
    border-radius: 50%;
}
.content1 i{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.content1 h4{
    
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
}
.content1 p{
    font-size: 14px;
    font-weight: 500;
    line-height: 22..5px;
    opacity: 30%;
}
.content1 button{
    width: 121px;
    height: 43px;
    border-radius: 23px;
     background: rgba(227, 183, 72, 1);
     font-size: 14px;
     font-weight: 600;
     line-height: 22.5px;
    
}